
html,body,div,span,p,ul,li{
	margin  : 0;
	padding : 0;
}

html,body{
	height      : 100%;
	font-family : 'Lato', sans-serif;;
}

body{
	display        : flex;
	flex-direction : row;
}

.personal{
	min-width  : 220px;
	padding    : 5px;

	background : rgb(30,85,155);
	background : url('../img/square_bg.png'), linear-gradient(to bottom, rgba(30,85,155,1) 0%,rgba(0,130,230,1) 100%);
	color      : white;
	box-shadow : inset -7px 0 9px -7px rgba(0,0,0,0.4);

	flex       : 1;
}

.personal .header{
	font-size    : 16pt;
	font-variant : small-caps;
	text-align   : center;
}

.personal .subhead{
	margin-bottom : 5px;
	text-align    : center;
}

.personal .list .header{
	font-size    : 11pt;
	font-variant : small-caps;
	text-align   : center;
}

.personal .list .item{
	margin-bottom : 2px;
	padding       : 2px;

	color         : white;
}

.personal .list .item .label{
	margin-bottom : 5px;

	font-size     : 12pt;
	font-variant  : small-caps;
}

.personal .list .item .label span{
	display       : inline-block;

	min-width     : 75px;

	border-bottom : 1px solid white;
}

.personal .list .item .info{
}

.personal .list .item .subitem{
	font-size: 80%;
}

.personal .list a{
	color           : white;
	text-decoration : none;
}

.personal .list a .item{
	transition : background 0.25s, text-shadow 0.25s;
}

.personal .list a:hover .item{
	background  : rgba(150,150,150,0.5);
	text-shadow : 2px 2px 2px black;
}

.personal ul{
	margin-left     : 15px;
	list-style-type : square;
}

.resume{
	display        : flex;

	padding        : 5px;

	font-family    : 'Roboto', sans-serif;

	flex           : 8;
	flex-direction : column;
}

.resume p{
	font-size : 9pt;
}

.resume ul{
	font-size : 9pt;
}

.resume .list{
	flex : 1;
}

.resume .header{
	margin-bottom : 5px;

	font-size     : 14pt;
	font-variant  : small-caps;
	font-weight   : 700;
	border-bottom : 1px solid black;
}

.resume .footer{
	font-size    : 8pt;
	font-variant : small-caps;
	text-align   : center;
}

.resume .item{
	display        : flex;

	margin-bottom  : 5px;
	padding-bottom : 5px;

	border-bottom  : 1px solid rgba(150,150,150,0.5);

	flex-direction : row;
}

.resume .item .date{
	display         : flex;

	min-width       : 150px;

	background      : rgb(55,60,75);
	font-variant    : small-caps;
	color           : white;
	text-align      : center;

	flex            : 1;
	flex-direction  : column;
	align-items     : center;
	justify-content : center;
}

.resume .item .info{
	padding-left : 15px;
	flex         : 9;
}

.resume .item .info .header{
	font-size   : 11pt;
	font-weight : 400;
}

.resume .item .info .subhead{
	margin-top  : 5px;

	font-size   : 10pt;
	font-style  : italic;
	font-weight : 400;
}

.resume .item .info ul{
	margin-top      : 5px;
	margin-left     : 20px;

	list-style-type : square;
}

.resume .item .info p{
	margin-top    : 3px;
	margin-bottom : 3px;
}

.printOnly{
	display : none;
}

@media print {
	.printOnly{
		display : block;
	}
}

/*Small Screen modifications*/
@media screen and (max-width: 1600px) and (min-width: 651px) {
	.personal .header{
		font-size   : 12pt;
		font-weight : 700;
	}

	.personal .subhead{
		font-size   : 8pt;
		font-weight : 400;
	}

	.personal .list .header{
		font-size : 12pt;
	}

	.personal .list .item{
		padding : 0;
	}

	.personal .list .item .label{
		font-size : 12pt;
	}

	.personal .list .item .info{
		padding-left : 0;
		font-size    : 10pt;
	}

	.personal .list .item .info i{
		display : none;
	}

	.resume .item{
		display:	block;
	}

	.resume .cinfo{
		padding-bottom:	15px;
		padding-top:	5px;
	}	
}

/*mobile modifications*/
@media screen and (max-width: 650px) {
	body{
		display:	block;
	}

	.personal{
		height:		100vh;
	}

	.personal .header{
		font-size   : 10pt;
		font-weight : 700;
	}

	.personal .subhead{
		font-size   : 8pt;
		font-weight : 400;
	}

	.personal .list .header{
		font-size : 8pt;
	}

	.personal .list .item{
		padding : 0;
	}

	.personal .list .item .label{
		font-size : 8pt;
	}

	.personal .list .item .info{
		padding-left : 0;
		font-size    : 8pt;
	}

	.personal .list .item .info i{
		display : none;
	}

	.resume .item{
		display:	block;
	}

	.resume .cinfo{
		padding-bottom:	15px;
		padding-top:	5px;
	}
}